:root {
    --verde-site-ce: #24A637;
    --ciano-site-ce: #55BEC6;
    --background-site: linear-gradient(to right, var(--verde-site-ce), var(--ciano-site-ce));
    --font-titulo: "Roboto Slab", serif;
    --font-text: "Roboto", sans-serif;

    --laranja-logo: #F0763B;
    --verde-logo: #2E8C4F;
    
}

.roboto-slab-tittle {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  