/* Estilos gerais */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--bege-claro); /* Cor de fundo geral */
}

.cont-all-ext {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos do Header */

.header {
    background-color: var(--verde-principal); /* Cor principal para o header */
    padding: 10px 0;
    position: relative;
}

.cont-header-int {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    display: inline-block;
    margin-left: 20px;
}

.logo {
    height: 60px; 
    width: auto; 
}

.navbar  {
    position: relative;
}

.navbar i {
    color: var(--bege-claro);
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    color: var(--bege-claro); 
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: var(--verde-escuro); /* Cor de hover */
}

/* Estilos do Conteúdo Principal */

.main {
    background-color: #FFFFFF; 
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro {
    margin-bottom: 30px;
}

.intro h1 {
    color: var(--verde-principal); 
}

.subtitle {
    color: #333333; 
}

.apresentacao-nobel {
    margin-bottom: 30px;
}

.apresentacao-nobel h2 {
    color: var(--verde-principal); /* Cor do título secundário */
}

.margin-article {
    margin-top: 20px;
}

.list {
    color: var(--verde-principal); /* Cor dos títulos de lista */
}

.dados h2{
    color: var(--verde-principal);
}
.text {
    color: #333333; /* Cor do texto principal */
}

.lista {
    margin-top: 10px;
}

.link {
    color: #2E8C4F; 
}

.link:hover {
    text-decoration: underline;
}

.link:visited {
    color: var(--verde-escuro);
}

.cont-img-laureados{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.img-laureados{
    width: 48%;
}

.ol-nocolor{
    color: #333333;
}
/* Media Query para dispositivos móveis (até 600px de largura) */
@media (max-width: 600px) {
    .navbar i {
        display: block; /* Mostrar o ícone em telas pequenas */
        margin-right: 2rem;
    }

    .navbar ul {
        display: none; /* Esconder o menu por padrão em telas pequenas */
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #2E8C4F;
        flex-direction: column;
        width: 100%;
    }

    .navbar ul.expanded {
        display: flex; /* Mostrar o menu quando expandido */
    }

    .navbar ul li {
        margin: 0;
        text-align: center;
        padding: 10px 0;
    }

    .navbar ul li a {
        display: block;
        padding: 10px 0;
    }

    .cont-img-laureados {
        display: block;
    }

    .cont-img-laureados .img-laureados{
        width: 100%;
    }
}
