* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 18rem;
    height: 9rem;
    cursor: pointer;
}

.cont-all-ext{
    overflow-x: hidden;
}

.cont-header-ext {
    width: 100vw;
    height: 12vh;
}
.cont-header-int {
    /* background: rgb(146, 146, 146); */
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    position: fixed;
}

.header {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav ul {
    display: flex;
    gap: 4rem;
    align-items: baseline;

}

.header nav ul li a {
    font-size: 2rem;
}

.cont-main-ext {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.cont-main-int {
    width: 90%;

}

/* .list::before {
    content: '•';
    /* margin-right: 0.5rem; 
} */

.link {
    text-decoration: underline;
    color: rgb(0, 0, 212);
}

.link:visited{
    color: rgb(0, 0, 138);
}

.subtitle {
    font-size: 2.1rem;
}

.apresentacao-nobel {
    margin-top: 2rem;
}

.margin-article {
    margin-left: 2rem;
}

.margin-cont {
    margin-left: 1rem;
}

.list  {
    margin-bottom: 1rem;
}


.lista, .text  {
    margin-bottom: 1rem;
}

